.nav-2{
    padding-top:50px ;
}
.d-flex {
    display: flex !important;
}
.main-part{
    padding-left: 14%;
    padding-right: 14%;
    margin-bottom: 2rem;
}
.second-nav .container-fluid .li-container {
    /* padding-bottom: 25px; */
    height: 100%;
    color: #8A8A8A;
    font-weight: 400;
    font-size: 1.1rem;
    /* padding: 20px 16px 15px 16px; */
}
.second-nav .second-nav-container {
    height: 48px;
    border-bottom: 1px solid black;
}
.secand-nav-container{
    
    display: flex;
    margin: auto;
    width: 100%;
}
.post-card{
    
    border: 2px solid  rgb(245, 250, 245);
}
.col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}
 


.pc-footer-image-name {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin: 2rem 2rem;
    
}
.nav-btn1{
    margin: 2px;
    background-color:#EDEEF0 ;
    box-shadow: none!important;
    outline: 0;


}
.nav-btn2{
    margin: 2px;
    box-shadow: none!important;
    outline: 0;

    
}
.right-underline{
    padding-bottom: value;
    border-bottom-style: solid;
    border-bottom-width: 1.9px;
     
}

.nav-btn1,.nav-btn2{
    max-height: 40px;
}
.login_container{
    padding: 1rem;
}
.input_name{
    width: 100%;
    height: 40px;
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
    box-sizing: border-box;
    border-radius: 2px 2px 0px 0px;
}
.input_name::placeholder{
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #8A8A8A;
    padding: 12px;
}
.name{
    margin-top: 10px;
}
.mobile_close{
    display:none;
}
@media (max-width: 1250px)  {
    
    .left-part{
        width:100%
    }
   /* .main-part{
        margin: 2px auto;
    
    }
    */
}

@media (max-width: 1250px)  {
    .right-part{
        display: none;
    }
   /* .left-part{
        width:100%
    }
    .main-part{
        margin: 2px auto;
    
    }
    */
    }

    .secand-nav{
        border-bottom-style: solid;
    border-bottom-width: 1.5px;
    margin-bottom: 1rem;
    }

@media (max-width: 1015px) {
    #secand-nav{
        display: none;
    }
}

@media (max-width: 767px){
    .main-part{
        margin: 0;
        padding: 0;
    }
    .right-content-form{
        display: none;
    }
    .modal-header{
        display: none !important;
    }
    .modal_login{
        flex-direction: column;
    }
    .mobile_close{
        display:block;
        text-align: right;
    }
    .modal-dialog{
        width: 100% !important;
        margin: 0% !important;
        position: absolute;
        bottom: 0%;
    }
    .modal-footer{
        justify-content: left;
    }
    .modal_signin{
        justify-content: center;
        flex-direction: column;
    }
    .input_name::placeholder{
        font-size: 13px;
    }
}
@media(max-width:540px){
    .modal-header{
        display: none !important;
    }
    .nav-2{
        padding: 0;
    }
    .create-acc-part{
        width: 100% !important;
    }

}
  
  
  @media (min-width: 1015px ){
    .secand-mobile-nav{
      display: none;
    }
    .main-part{
        margin-top: 0;
    }
    
}
@media (max-width: 450px ){
    .pc-footer-image-name h4 {
      font-size: 16px;
    }
    .pc-footer-image-name img {
        width: 40px;
        height: 40px;
      }
      .pc-footer-right img{
          width: 20px;

      }
      .pc-footer{
          margin: -30px;
      }
}
@media (min-width:800px) {
    #mobile-create-signin{
     display: none !important;
    }
}
@media (max-width: 800px){
    #hide{
        display: none !important;
    }
}
